@media(max-width: 900px) {
    .container {
        grid-template-rows: repeat(2, 250px);
        grid-template-columns: repeat(2, 400px);
    }

    .content1 p {
        font-size: 20px;
    }

    .content2 h3 {
        font-size: 20px
    }

    .content2 .price {
        font-size: 35px;
    } 

    .content2 .price span {
        font-size: 15px
    }

    .content2 p {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .content2 .btn {
        font-size: 15px;
        padding: 10px 90px;
    }

    .content3 h3 {
        font-size: 20px;
    }

    .content3 ul li {
        font-size: 15px;
        line-height: 22px;
    }
}

@media(max-width: 800px) {
    .container {
        grid-template-areas: "content1"
        "content2"
        "content3";
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 1fr);
    }

    .content1 {
        padding: 40px 30px;
    }

    .content1 h1 {
        font-size: 25px;
    }

    .content1 h2 {
        font-size: 19px;
    }

    .content1 p {
        font-size: 17px;
        line-height: 30px;
    }

    .content2 {
        border-radius: 0;
    }

    .content2 h3 {
        font-size: 22px;
    }

    .content2 .price {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .content2 .price span {
        font-size: 20px;
    }

    .content2 p {
        font-size: 19px;
        margin-bottom: 50px;
    }

    .content3 {
        border-radius: 0 0 10px 10px;
    }

    .content3 h3 {
        margin-bottom: 50px;
    }

}

@media(max-width: 375px) {

    .container {
        grid-template-columns: 340px;
    }

    .content1 h2 {
        font-size: 18px;
    }

    .content1 p {
        font-size: 15px;
        line-height: 30px;
    }

    .content2 .price span {
        font-size: 16px;
    }

    .content2 p {
        font-size: 16px;
    }
}