
body {
    background-color: var(--bg-color);
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
}

.container {
    display: grid;
    grid-template-areas: "content1 content1"
    "content2 content3";
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 450px);
    border-radius: 10px;
    box-shadow: 10px 10px 10px gainsboro;
}

.content1 {
    grid-area: content1;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
}

.content1 h1 {
    color: var(--title-color);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.content1 h2 {
    color: var(--btn-color);
    font-size: 26px;
    margin-bottom: 20px;
}

.content1 p {
    color: var(--text-color);
    font-size: 23px;
}

.content2 {
    grid-area: content2;
    background-color: var(--title-color);
    border-radius: 0 0 0 10px;
    display: flex;
    flex-direction: column;
}

.content2 h3 {
    color: var(--bg-color);
    font-size: 24px;
    margin: 40px 0 15px 40px;
}

.content2 .price {
    color: var(--bg-color);
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 18px; 
    margin: 0 0 15px 40px;
}

.content2 .price span {
    color: hsl(179, 94%, 43%);;
    font-size: 20px;
}

.content2 p {
    color: var(--bg-color);
    font-size: 22px;
    margin: 0 0 30px 40px;
}

.content2 .btn {
    background-color: var(--btn-color);
    color: white;
    padding: 20px;
    margin: 0 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 10px 10px 10px darkcyan;
}

.content3 {
    grid-area: content3;
    background-color: hsl(179, 96%, 37%);
    padding: 40px 50px;
    border-radius: 0 0 10px 0;
}

.content3 h3 {
    color: var(--bg-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.content3 ul li {
    color: var(--bg-color);
    line-height: 28px;
}